<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/commonPopup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <!-- Common Start Header -->
    <header id="commonHeader"></header>
    <!-- Common Closed Header -->

    <main style="margin-top: 88px">
        <div class="container pt-4">
            <form style="display: none;" id="createEmployeeView">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Employee Name</label>
                      <input type="text" class="form-control" id="inputPassword4" placeholder="Name">
                    </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Employee Code</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Code">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Designation</label>
                      <input type="text" class="form-control" id="designation" placeholder="Developer">
                    </div>
                  </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <button id="employeeButton" type="submit" onclick="createEmployee()" class="btn btn-primary">Create Employee</button>
              </form>
              <button id="createEmployeeButton" class="btn btn-primary" type="button" onclick="createEmployeeShow()">New Employee</button>
              <hr style="margin-top: 50px;">

              <table id="employeeTableSet"></table>
              <div id="myModal" class="modal">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2>Update Employee</h2>
                    <span class="close">&times;</span>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Employee Name</label>
                            <input type="text" class="form-control" id="employeeName" placeholder="Name">
                          </div>
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="text" class="form-control" id="employeeEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputCity">Employee Code</label>
                          <input type="text" class="form-control" id="employeeCode" placeholder="Code">
                        </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">Designation</label>
                            <input type="text" class="form-control" id="employeeDesignation" placeholder="Developer">
                          </div>
                        </div>
                      <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="employeeAddress" placeholder="1234 Main St">
                      </div>
                      <button type="submit" onclick="updateMongoEmployee()" class="btn btn-primary">Update Employee</button>
                    </form>
                    <hr style="margin-top: 50px;">
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>

              </div>
        </div>
      </main>

      
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="../../scripts/crudScripts/crudEmploye.js"></script>
</body>
</html>